:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

body {
  background: url(src/assets/img/body-bg@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
}

body > div {
  margin: 0 auto;
  width: 768px;
}

a {
  font-weight: 500;
  color: #fafafa;
  text-decoration: inherit;
}
a:hover {
  color: #f1cdb3;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
ul {
  list-style: none;
  list-style-image: none;
  padding: 0;
}
button {
  border-radius: 8px;
  border: 1px solid #f1cdb3;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f1cdb3;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #fddcc4;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  margin: 30px 0;
}

nav ul {
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  margin-right: 30px;
}

main {
  min-height: 100vh;
  padding: 20px 0;
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #f1cdb3;
  }

  button {
    background-color: #f1cdb3;
  }
}
